 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav>
    <div class="wrapper">
      <div class="logo"><a href="#"><img src="assets\image\BankLogo.png" alt="Logo"><span data-end="s" class="Logonamef">Kotta'</span><span class="Logonames">Bank</span></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <div class="firstheada"><a href="">Personal</a></div>
        <div class="firstheadb"><a href="">Credit Card</a></div>
        <div class="firstheadc"><a href="">Business</a></div>
        <div class="firstheadd"><a href="">Wholesale</a></div>
        <div class="firstheade"><a href="">INR</a></div>
        <li><a href="#" id="contactsu">Customer Support</a></li>
        <li class="listdrop">
          <a href="#" class="desktop-item">About Us</a>
          <input type="checkbox" id="showDrop2">
          <label for="showDrop2" class="mobile-item">About Us</label>
          <ul class="drop-menu">
            <li><a href="#">Our Bank</a></li>
            <li><a href="#">MD & CEO</a></li>
            <li><a href="#">Our History</a></li>
            <li><a href="#">Board of Directors</a></li>
            <li><a href="#">Awards & Accolades</a></li>
            <li><a href="#">News Room</a></li>
          </ul>
        </li>
        <li class="listdrop">
          <a href="#" class="desktop-item">Investors</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Investors</label>
          <ul class="drop-menu">
            <li><a href="#">Investor Presentation</a></li>
            <li><a href="#">Annual Report</a></li>
            <li><a href="#">Financial Documents</a></li>
            <li><a href="#">Other Investor Information</a></li>
          </ul>
        </li>
        <li class="listdrop">
          <a href="#" class="desktop-item">Careers</a>
          <input type="checkbox" id="showDrop1">
          <label for="showDrop1" class="mobile-item">Careers</label>
          <ul class="drop-menu">
            <li><a href="#">Come work with us</a></li>
            <li><a href="#">track job application</a></li>
           </ul>
        </li>
        <li class="csr">
          <a href="#" class="desktop-item">CSR</a>
          <input type="checkbox" id="showDrop3">
          <label for="showDrop3" class="mobile-item">CSR</label>
          <ul class="drop-menu">
            <li><a href="#">CSR Activities</a></li>
            <li><a href="#">Kotta's First Sustainability</a></li>
           </ul>
        </li>
        <!-- nav items -->
        <li class="csr">
          <input type="checkbox" id="showDrop4">
          <label for="showDrop4" class="mobile-item">Accounts</label>
          <ul class="drop-menu">
            <li><a href="#">Savings Account</a></li>
                    <li><a href="#">Corporate Salary Account</a></li>
                    <li><a href="#">Senior Cit Savings Account</a></li>
                    <li><a href="#">First Power Account</a></li>
                    <li><a href="">Current Account</a></li>
                    <li><a href="">TASC Institutional Account</a></li>
                    <li><a href="">NRI Savings Account</a></li>
                  </ul>
        </li>
        <li class="csr">
          <input type="checkbox" id="showDrop5">
          <label for="showDrop5" class="mobile-item">Deposits</label>
          <ul class="drop-menu">
            <li><a href="#">Savings Account</a></li>
            <li><a href="#">Fixed Deposit</a></li>
            <li><a href="#">Recurring Deposits</a></li>
            <li><a href="#">NRI Fixed Deposit</a></li>
            <li><a href="#">Safe Deposit Locker</a></li>
           </ul>
        </li>
        <li class="csr">
          <input type="checkbox" id="showDrop6">
          <label for="showDrop6" class="mobile-item">Loans</label>
          <ul class="drop-menu">
            <li><a href="#"> Personal Loan</a></li>
            <li><a href="#">Consumer Durable Loan</a></li>
            <li><a href="#">Home Loan</a></li>
            <li><a href="#">Education Loan</a></li>
            <li><a href="#">New Car Loan</a></li>
            <li><a href="#">Pre-owned Car Loan</a></li>
            <li><a href="#">Two Wheeler Loan</a></li>
            <li><a href="#">Pre - O Two Wheeler Loan</a></li>
            <li><a href="#">Commercial Vehicle Loan</a></li>
            <li><a href="#">Gold Loan</a></li>
            <li><a href="#">Loan Against Property</a></li>
            <li><a href="#">Easy Buy EMI card</a></li>
           </ul>
        </li>
        <li class="csr">
          <input type="checkbox" id="showDrop7">
          <label for="showDrop7" class="mobile-item">Wealth & Insurence</label>
          <ul class="drop-menu">
            <li><a href="#">Savings Account</a></li>
            <li><a href="#">Kotta's Select</a></li>
            <li><a href="#">Kotta's Wealth</a></li>
            <li><a href="#">FIRST Private</a></li>
            <li><a href="#">Mutual Funds</a></li>
            <li><a href="#">Sovereign Gold Bond</a></li>
            <li><a href="#">Demat & Trading account</a></li>
            <li><a href="#">Term Insurance</a></li>
            <li><a href="#">Life Insurance</a></li>
            <li><a href="#">Health Insurance</a></li>
            <li><a href="#">General Insurance</a></li>
            </ul>
        </li>
        <li class="csr">
          <input type="checkbox" id="showDrop8">
          <label for="showDrop8" class="mobile-item">Cards</label>
          <ul class="drop-menu">
            <li><a href="#">Kotta's Millennia Credit Card</a></li>
            <li><a href="#">Kotta's Classic Credit Card </a></li>
            <li><a href="#">Kotta's Select Credit Card </a></li>
            <li><a href="#">Kotta's Wealth Credit Card</a></li>
            <li><a href="#">Kotta's WOW! Credit Card</a></li>
            <li><a href="#">Club Vistara</a></li>
            <li><a href="#">Kotta's Credit Card</a></li>
            <li><a href="#">Debit Cards</a></li>
            <li><a href="#">Co-branded Cards</a></li>
            <li><a href="#">Deals</a></li>

            </ul>
        </li>
        
 
        <li><a href="#" id="contactsu1" class="contactsu1" routerLink="/login">Login</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  

 
 
  
  
  

  
 