<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="row primary">
      <div class="column about">
    
      <h3>About Kotta's Bank</h3>
      <ul>
        <li><a href="">Leadership</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Investor Relations</a></li>
        <li><a href="">Code Of Conduct</a></li>
        <li><a href="">Awards & Accolades</a></li>
        <li><a href="">Press Release</a></li>
        <li><a href="">Grievance Redressal</a></li>
      </ul>
      
    
      <div class="social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube-square"></i>
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
    </div>
    
    <div class="column links">
    <h3>Important Links</h3>
    
     <ul>
    
      <li>
       <a href="#faq">Notice Board</a>
      </li>
      <li>
       <a href="#cookies-policy">CSR Activities</a>
      </li>
      <li>
       <a href="#terms-of-services">Regulatory Disclosures</a>
      </li>
      <li>
       <a href="#support">Cardmember Agreement</a>
      </li>
      <li><a href="">Track Your Loan Application</a></li>
      <li><a href="">Login to NetBanking</a></li>
      <li><a href="">Positive Pay</a></li>
      <li><a href="">Financial Literacy Week </a></li>
     </ul>
    
    </div>
    
    
    <div class="column links">
      <h3>Popular Products</h3>
       <ul>
        <li>
         <a href="#faq">Personal Loan</a>
        </li>
        <li>
         <a href="#cookies-policy">Credit Cards</a>
        </li>
        <li>
        <a href="#terms-of-services">Home Loan</a>
        </li>
        <li>
        <a href="#support">Savings Account</a>
        </li>
        <li><a href="">Current Account</a></li>
        <li><a href="">Fixed Deposit</a></li>
        <li><a href="">Recurring Deposit</a></li>
      </ul>
    </div>
    
    <div class="column links">
     <h3>Explore</h3>
     <ul>
      <li>
       <a href="#faq">Merger - IDFC Bank and Capital First Ltd</a>
      </li>
      <li>
       <a href="#cookies-policy">Marathons Association  </a>
      </li>
      <li>
      <a href="#terms-of-services">Loan Repayment Options</a>
      </li>
      <li>
      <a href="#support">Internet Banking Services</a>
      </li>
      <li><a href="">Proposed Offer Rate</a></li>
      <li><a href="">Cyber Security Awareness</a></li>
      <li><a href="">Get More From Your Bank</a></li>
    </ul>
    
    </div>
    
    </div>
    
    <div class="row copyright">
      <div class="footer-menu">
    
     
     
      </div>
       <p>Disclaimer | Privacy Policy | Terms & conditions</p>
    </div>
    </footer>
