<!-- bootstrap link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000"  data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://preview.colorlib.com/theme/bookkeeping/images/hero_1.jpg.webp" alt="First slide">
        <div class="carousel-text">
          <h1>Savings Account</h1>
          <p class="carousel-subtext">Enjoy Zero Charges on 28 Commonly Used Savings Account Services</p>
        </div>
        <a routerLink="/account_open"  class="btn  carousel-button">Account Open</a>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://preview.colorlib.com/theme/bookkeeping/images/hero_2.jpg.webp" alt="Second slide">
        <div class="carousel-text">
          <h1>Credit Card</h1>
          <p class="carousel-subtext">Enjoy Zero Mark-up on Forex Transactions on your FIRST WOW! Credit Card</p>
        </div>
        <a href="#" class="btn  carousel-button">Known More</a>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://preview.colorlib.com/theme/welfare/images/bg_7.jpg.webp" alt="Third slide">
        <div class="carousel-text">
          <h1>Kids Account</h1>
          <p class="carousel-subtext"> Free Education Insurance cover of Rs.5,00,000/- in the event of death of the parent.</p>
        </div>
        <a routerLink="/account_open"  class="btn  carousel-button">Account Open</a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
