<nav>
    <div class="wrapper">
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <!-- 1st -->
        <li class="listdrop">
            <a href="#" class="desktop-item">Accounts</a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">Mega Menu</label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <img src="https://images.pexels.com/photos/6863260/pexels-photo-6863260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                </div>
                <div class="row">
                  <!-- <header>Design Services</header> -->
                  <ul class="mega-links">
                    <li><a href="#">Savings Account</a></li>
                    <li><a href="#">Corporate Salary Ac</a></li>
                    <li><a href="#">Senior Cit Savings AC</a></li>
                    <li><a href="#">First Power Account</a></li>
                   
                  </ul>
                </div>
                <div class="row">
                  <!-- <header>Email Services</header> -->
                  <ul class="mega-links">
                    <li><a href="">Current Account</a></li>
                    <li><a href="">TASC Institutional AC</a></li>
                    <li><a href="">NRI Savings Account</a></li>
                  </ul>
                </div>
                <div class="row">
                  <!-- <header>Security services</header> -->
                  <ul class="mega-links">
                   
                  </ul>
                </div>
              </div>
            </div>
          </li>
       <!-- 2nd -->
        <li  class="listdrop">
          <a href="#" class="desktop-item">Deposits</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="https://images.pexels.com/photos/4386431/pexels-photo-4386431.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4386431.jpg&fm=jpg" alt="">
              </div>
              <div class="row">
                <!-- <header>Design Services</header> -->
                <ul class="mega-links">
                  <li><a href="#">Fixed Deposit</a></li>
                  <li><a href="#">Recurring Deposits</a></li>
                  <li><a href="#">NRI Fixed Deposit</a></li>
                  <li><a href="#">Safe Deposit Locker</a></li>
                </ul>


              </div>
              <div class="row">
                <!-- <header>Email Services</header> -->
                <ul class="mega-links">
                  <!-- <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li> -->
                </ul>
              </div>
              <div class="row">
                <!-- <header>Security services</header> -->
                <ul class="mega-links">
                  
                </ul>
              </div>
            </div>
          </div>
        </li>
    <!-- 3rd -->
    <li  class="listdrop">
        <a href="#" class="desktop-item">Loan</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://img.freepik.com/premium-photo/financial-loan-concept-businessmen-stand-money-coin-loan-money-loan-officer_73523-6745.jpg" alt="">
            </div>
            <div class="row">
              <!-- <header>Design Services</header> -->
              <ul class="mega-links">
                <li><a href="#"> Personal Loan</a></li>
                <li><a href="#">Consumer Durable</a></li>
                <li><a href="#">Home Loan</a></li>
                <li><a href="#">Education Loan</a></li>
             </ul>
            </div>
            <div class="row">
              <!-- <header>Email Services</header> -->
              <ul class="mega-links">
                <li><a href="#">New Car Loan</a></li>
                <li><a href="#">Pre-owned Car Loan</a></li>
                <li><a href="#">Two Wheeler Loan</a></li>
                <li><a href="#">Pre - O Two Wheeler</a></li>
              </ul>
            </div>
            <div class="row">
              <!-- <header>Security services</header> -->
              <ul class="mega-links">
                <li><a href="#">Commercial Vehicle</a></li>
                <li><a href="#">Gold Loan</a></li>
                <li><a href="#">Loan Against Property</a></li>
                <li><a href="#">Easy Buy EMI card</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- 4th -->
      <li  class="listdrop">
        <a href="#" class="desktop-item">Wealth & Insure</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://media.istockphoto.com/id/515605078/photo/family-care.jpg?s=612x612&w=0&k=20&c=tIJMGb8qBm3EZjY7l7Jgu4K-slFdaugazy6DxU5cS7k=" alt="">
            </div>
            <div class="row">
              <!-- <header>Design Services</header> -->
              <ul class="mega-links">
                <li><a href="#">Kotta's Select</a></li>
                <li><a href="#">Kotta's Wealth</a></li>
                <li><a href="#">FIRST Private</a></li>
                <li><a href="#">Mutual Funds</a></li>
              </ul>
            </div>
           <div class="row">
              <!-- <header>Email Services</header> -->
              <ul class="mega-links">
                <li><a href="#">Sovereign Gold Bond</a></li>
                <li><a href="#">Demat & Trading Ac</a></li>
                <li><a href="#">Term Insurance</a></li>
                <li><a href="#">Life Insurance</a></li>
              </ul>
            </div>
            <div class="row">
              <!-- <header>Security services</header> -->
              <ul class="mega-links">
                <li><a href="#">Health Insurance</a></li>
                <li><a href="#">General Insurance</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- 5th -->
      <li  class="listdrop">
        <a href="#" class="desktop-item">Cards</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://media.istockphoto.com/id/1203763961/photo/stacked-credit-cards.jpg?s=612x612&w=0&k=20&c=bEEGZwG120WKDClhmltyAtP0kPMzNir49P4JO3pcies=" alt="">
            </div>
            <div class="row">
              <!-- <header>Design Services</header> -->
              <ul class="mega-links">
                <li><a href="#">Kotta's Millennia Credit</a></li>
                <li><a href="#">Kotta's Classic Credit</a></li>
                <li><a href="#">Kotta's Select Credit</a></li>
                <li><a href="#">Kotta's Wealth Credit</a></li>
              </ul>

            </div>
            <div class="row">
              <!-- <header>Email Services</header> -->
              <ul class="mega-links">
                <li><a href="#">Kotta's WOW! Credit</a></li>
                <li><a href="#">Club Vistara</a></li>
                <li><a href="#">Kotta's Credit Card</a></li>
                <li><a href="#">Debit Cards</a></li>
              </ul>
            </div>
            <div class="row">
              <!-- <header>Security services</header> -->
              <ul class="mega-links">
                <li><a href="#">Co-branded Cards</a></li>
                <li><a href="#">Deals</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </li>
</ul>
     
    </div>
  </nav>


 
